@font-face {
  font-family: "Gloucester MT Extra Condensed";
  src: url(fonts/gloucester-mt-extra-condensed.ttf) format("truetype");
}
@font-face {
  font-family: "PTsans";
  src: url(fonts/PT_Sans-Web-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "PTserif";
  src: url(fonts/PT_Serif-Web-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PTserif-italic";
  src: url(fonts/PT_Serif-Web-Italic.ttf) format("truetype");
}
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "PTserif", Times, serif;
  background-color: #F4E7D7;
}

h1 {
  font-family: "Gloucester MT Extra Condensed", serif;
  font-size: 15vh;
  text-shadow: -7px 7px 4px #bfbfbf;
}

.title-card {
  background-color: #F9F3EB;
}

#title-number {
  font-family: "Gloucester MT Extra Condensed", serif;
  font-size: 5vh;
  text-shadow: -4px 4px 4px #bfbfbf;
  margin-top: -2%;
}

#subtitle {
  font-family: "PTsans", arial, sans-serif;
  font-size: 3vh;
}

#slogan {
  font-size: 2vh;
  margin-right: 25%;
  margin-top: -2%;
  font-family: "PTserif-italic", Times, serif;
}

p,
h3,
li {
  font-size: 1.5vh;
}

.icons {
  width: 2.5vh;
}

#legal-text {
  font-size: 1.2vh;
}

li {
  list-style-type: "- ";
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8vh;
}
 @media screen and (min-width: 576px){
   html{
     font-size: calc(1vh + 25%);
   }
 }