@font-face{
    font-family: "Gloucester MT Extra Condensed";
    src: url(fonts/gloucester-mt-extra-condensed.ttf) format("truetype");
}
@font-face{
    font-family: "PTsans";
    src: url(fonts/PT_Sans-Web-Bold.ttf) format("truetype");
}
@font-face{
    font-family: "PTserif";
    src: url(fonts/PT_Serif-Web-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "PTserif-italic";
    src: url(fonts/PT_Serif-Web-Italic.ttf) format("truetype");
}

body{
    font-family: "PTserif", Times, serif;
    background-color: #F4E7D7;
}

h1{
    font-family: "Gloucester MT Extra Condensed", serif;
    font-size: 15vw;
    text-shadow: -7px 7px 4px #bfbfbf;
}

.title-card{
    background-color: #F9F3EB;
}

#title-number{
    font-family: "Gloucester MT Extra Condensed", serif;
    font-size: 5vw;
    text-shadow: -4px 4px 4px #bfbfbf;
    margin-top: -2%;
}

.subtitle{
    font-family: "PTsans", arial, sans-serif;
    font-size: 3vw;
    /* margin: 0 10%; */
}

#slogan{
    font-size: 2vw;
    margin-right: 20%;
    margin-top: -2%;
    font-family: "PTserif-italic", Times, serif;
}

p, h3, li{
    font-size: 1.5vw;
}

li{
    list-style-type: '- ';
}

